@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #5d4343;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-product-sans);
  --font-mono: var(--font-geist-mono);
  --font-codec-pro: var(--font-codec-pro);
}

.font-codec-pro {
  font-family: var(--font-codec-pro);
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #2563eb, #000000);
  }
}
